@media (max-width: 1680px){
    .box1Callbtn {
        left: 550px;
    }
    .box1Invite {
        left: 860px;
    }
}

@media (max-width: 1600px){
    .box1Callbtn {
        left: 510px;
    }
    .box1Invite {
        left: 820px;
    }
    .box2-slider .prev {
        right: 860px;
      }
}

@media (max-width: 1600px){
    .box1Callbtn {
        left: 430px;
    }
    .box1Invite {
        left: 735px;
    }
    .box2-slider .prev {
        right: 860px;
      }
}

@media (max-width: 1024px){
  .monument{
    position: absolute;
    opacity: 0.7;
    top: 515px;
    left: 20%;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 440px;
  }
    .box1Callbtn {
        left: 230px;
    }
    .box1Invite {
        left: 530px;
    }
    .box2-slider .prev {
        right: 785px;
      }
      .box2-slider .next {
        right: 100px;
      }  
      .box2-description {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
      }
      #box2 {
        height: 1350px;
      }
      .box4-container {
        height: 700px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      #box4 {
        height: 950px;
      }
      .box5-map {
        margin-left: 10px;
        margin-right: 40px;
      }
      .footer {
        font-size: 12px;
      }
}

@media (max-width: 768px){
  .container{
    width: 100%;
    max-width: 768px;
  }
  .info-panel {
    width: 100%;
    max-width: 768px;
    height: 40px;
  }
  .info-panel .info-name-company{
    width: 100%;
    max-width:  768px;
    height: 16px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
  .info-panel .info {
    display: none;
  }
  .img-address, .img-mail, .img-phone {
        display: none;
  }
  .menu {
    width: 100%;
    max-width: 768px;
    height: 65px;
  }
  .menu .logo{
    width: 65px;
    height: 65px;
    align-items: center;
    margin-left: 10px;
  }
  .menu .smallname, .menu .fullname {
      display: none;
  }
    .info {
        margin-right: 10px;
    }
    #box1{
        width: 100%;
        max-width: 768px;
    }
    .monument{
      position: absolute;
      opacity: 0.7;
      top: 505px;
      left: 15%;
      width: 100%;
      max-width: 500px;
      height: 100%;
      max-height: 440px;
    }
    #box2 {
      width: 100%;
      max-width: 768px;
    }
    #box2 .box2-header{
      width: 100%;
      text-align: center;
      align-items: center;
      font-size: 24px;
    }
    #box2 .box2-description {
      width: 100%;
    }
    #box2 .box2-description p{
      width: 90%;
      height: 650px;
      font-size: 16px;
      margin-left: 5%;
      margin-right: 5%;
    }
    #box2 .box2-slider {
      width: 100%;
    }
  
    #box2 .box2-slider .item {
      width: 450px;
      height: 550px;
    }
    #box2 .box2-slider .item .slide-text {
      width: 100%;
      max-width: 450px;
      top: 500px;
    }
    #box2 .box2-slider .item .slide-text p {
      width: 100%;
      font-size: 12px;
    }
    #box2 .box2-slider .item img{
      width: 450px;
      height: 550px;
    }
    #box2 .box2-slider .prev{
      top: 50%;
      right: 87%;
    }
    #box2 .box2-slider .next{
      top: 50%;
      right: 1%;
    }
  
    #box3 {
      width: 100%;
      max-width: 768px;
      height: 1300px;
    }
  
    #box3 .box3-header {
      width: 100%;
      text-align: center;
      font-size: 24px;
    }
  
    #box3 .box3-slider {
      width: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
    }
  
    #box3 .box3-slider .box3-slider-item {
      width: 303px;
      height: 100px;
      background-color: #d9d9d9;
      margin-left: 20px;
    }
    #box3 .box3-slider .box3-slider-item img {
      width: 300px;
      height: 100px;
      object-fit: contain;
    }
  
    #box4 {
      width: 100%;
      max-width: 768px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 900px;
    }

    #box4 .box4-container {
      width: 90%;
      height: 800px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
    #box4 .box4-services {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    #box4 .box4-header {
      width: 100%;
      text-align: center;
    }

  
    #box5 {
      width: 100%;
      max-width: 768px;
      height: 1300px;
    }
  
    #box5 .container .box5-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    #box5 .container .box5-container .box5-map-600 {
      width: 100%;
      margin: auto;
    }

    #box5 .container .box5-container .box5-info {
      width: 96%;
      height: 1000px;
      margin-top: 25px;
    }
    #box5 .container .box5-container .box5-info p {
      width: 96%;
      height: 400px;
    }
    hr {
      width: 100%;
      max-width: 768px;
    }
    .footer {
      width: 100%;
      max-width: 768px;
    }

}

@media (max-width: 420px) {
  .container{
    width: 100%;
    max-width: 420px;
  }
  .info-panel {
    width: 100%;
    max-width: 420px;
    height: 40px;
  }
  .info-panel .info-name-company{
    width: 100%;
    max-width: 420px;
    height: 16px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
  }
  .info-panel .info {
    display: none;
  }
  .menu {
    width: 100%;
    max-width: 420px;
    height: 65px;
  }
  .menu .logo{
    width: 65px;
    height: 65px;
    align-items: center;
    margin-left: 10px;
  }
  .menu .smallname, .menu .fullname {
      display: none;
  }
  .menu .menu-list {
    display: none;
  }

  .menu .btn-menu {
    display: block;
    margin-top: 21px;
    margin-right: 23px;
    width: 32px;
    height: 32px;
  }

  #box1 {
    width: 100%;
    max-width: 420px;
  }

  #box1 .box1Header {
    width: 100%;
    max-width: 420px;
    font-size: 42px;
  }
  #box1 .box1-btn{
    flex-wrap: wrap;
    margin-top: 60px;
  }
  #box1 .box1-btn a {
    font-size: 18px;
  }
  .box1-call {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .monument{
    position: absolute;
    opacity: 0.7;
    top: 560px;
    left: 0%;
    width: 100%;
    max-width: 420px;
    height: 100%;
    max-height: 380px;
  }
  #box2 {
    width: 100%;
    max-width: 420px;
    height: 1200px;
  }

  #box2 .box2-header{
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 24px;
  }
  #box2 .box2-description {
    width: 100%;
  }
  #box2 .box2-description p{
    width: 90%;
    height: 750px;
    font-size: 12px;
    margin-left: 5%;
    margin-right: 5%;
  }

  #box2 .box2-slider {
    width: 100%;
  }

  #box2 .box2-slider .item {
    width: 250px;
    height: 350px;
  }
  #box2 .box2-slider .item .slide-text {
    width: 100%;
    max-width: 250px;
    top: 101%;
  }
  #box2 .box2-slider .item .slide-text p {
    width: 100%;
    font-size: 12px;
  }
  #box2 .box2-slider .item img{
    width: 250px;
    height: 350px;
  }
  #box2 .box2-slider .prev{
    top: 50%;
    right: 87%;
  }
  #box2 .box2-slider .next{
    top: 50%;
    right: 1%;
  }

  #box3 {
    width: 100%;
    max-width: 420px;
    height: 2300px;
  }

  #box3 .box3-header {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  #box3 .box3-slider {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  #box3 .box3-slider .box3-slider-item {
    width: 303px;
    height: 100px;
    background-color: #d9d9d9;
    margin-left: 20px;
  }
  #box3 .box3-slider .box3-slider-item img {
    width: 300px;
    height: 100px;
    object-fit: contain;
  }

  #box4 {
    width: 100%;
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: unset;
    height: 1650px;
  }

  #box4 .box4-container {
    width: 90%;
    height: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #box4 .box4-services {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  #box4 .box4-header {
    width: 100%;
    text-align: center;
  }

  #box5 {
    width: 100%;
    max-width: 420px;
    height: 1300px;
  }

  #box5 .container .box5-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .box5-map-600 {
    display: none;
  }
  #box5 .container .box5-container .box5-map-300 {
      display: flex;
      position: relative;
      justify-content: center;
      width: 300px;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 25px;
  }
  #box5 .container .box5-container .box5-info {
    width: 96%;
    height: 1300px;
  }
  hr {
    width: 100%;
    max-width: 420px;
  }
  .footer {
    width: 100%;
    max-width: 420px;
    height: 340px;
  }
  .footer-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer-text {
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .company {
    margin-right: 0;
  }
  .footer-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  nav {
    margin: 0;
  }
  .footer-menu nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-menu nav a {
    width: 300px;
    align-items: center;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer-button {
    width: 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;  
    margin-left: 10%;
 }
}